<header>
    <%- include('partials/header.ejs')%>
</header>
<%- include('partials/navbar.ejs')%>

<div style="margin-left: 157px;">
    Add an MP
<form method="POST" action="addAnMp" >
    <div >
        <div > <label> MP ID</label> <input name="mpId" type = "text" /> </div>
         <div ><label> MP Name</label> <input name="mpName" type = "text" /> </div>
        <div ><label> MP Party</label> <input name="mpParty" type = "text" /></div>
    </div>
    <div >
        <div > <label> MP ID</label> <input name="mpId" type = "text" /> </div>
         <div ><label> MP Name</label> <input name="mpName" type = "text" /> </div>
        <div ><label> MP Party</label> <input name="mpParty" type = "text" /></div>
    </div>
    <div >
        <div > <label> MP ID</label> <input name="mpId" type = "text" /> </div>
         <div ><label> MP Name</label> <input name="mpName" type = "text" /> </div>
        <div ><label> MP Party</label> <input name="mpParty" type = "text" /></div>
    </div>
    <div >
        <div > <label> MP ID</label> <input name="mpId" type = "text" /> </div>
         <div ><label> MP Name</label> <input name="mpName" type = "text" /> </div>
        <div ><label> MP Party</label> <input name="mpParty" type = "text" /></div>
    </div>
    <button type="submit" style="margin-top:20px;margin-left: 150;"> Add the MP</button>
</form>
</div>
