<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container mt-4">
    <h1>Auckland</h1>
    <p>Auckland is a major city in the north of New Zealand's North Island.</p>
    <img src="public/images/orewa.jpg" class="img2" alt="Orewa Beach">
</div>

</body>
</html>
