<%- include('partials/header1') %>
<%- include('partials/navbar1') %>

<div class="container mt-4">
    <h1>New Zealand Beaches</h1>
    <h2>Popular Beaches</h2>
    <ul>
        <li>Orewa Beach</li>
        <li>Mission Bay</li>
        <li>Piha Beach</li>
    </ul>
    <img src="public/images/orewa.jpg" class="img2" alt="Orewa Beach">
</div>

</body>
</html>