<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<div class="container mt-4">
    <h1 style="color: blue;">Welcome to WebClass2</h1>
    <h2 style="color: red;">Cities</h2>
    <h4>Wellington</h4>
    <h4>Christchurch</h4>
    <h4>Dunedin</h4>
    <h4 style="color: lime; font-size: 40px;">Auckland</h4>
    <p>This is an example paragraph that demonstrates the use of external CSS styling.</p>
</div>

</body>
</html>
